################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebJob with .NET Core/WebJobDemo/.vs/WebJobDemo
/WebJob with .NET Core/WebJobDemo/WebJobDemo/bin/Debug/netcoreapp3.0
/WebJob with .NET Core/WebJobDemo/WebJobDemo/obj
/Azure WebJob using.docx
/~WRL3901.tmp
/~$ure WebJob using.docx
/Docker Sample with .NET Core 3.1/SimpleWebAPI/.vs/SimpleWebAPI/v16
bin
obj
packages
.vs

*.DotSettings.user
*.user
/Docker Sample with .NET Core 3.1/SimpleWebAPI/SimpleWebAPI/appsettings.Development.json
*.json
